.leaderboard-header {
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
}

.leaderboard-options {
    margin-bottom: 10px;
}

.subheader {
    font-family: 'Avenir Next';
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
    color: #314655;
    letter-spacing: -2px;
    border-bottom: 1px solid #314655;
    font-size: 20px;
}

.container .score {
    display: table-row;
}
.container .moredata {
    display: table-row;
}

.left-header {
    float: left;
    margin-left: 20px;
}

.right-header {
    float: right;
}

.right-header a {
    display: inline;
    padding-left: 10px;
}
.subheader .number {
    color: #06D3CA;
}

table {
    border: 1px solid #EEEEEE;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.pagination {
    width: 100%;
    text-align: center;
}

.pagination a {
    padding: 0px 5px;
    color: #337ab7;
}
.option label {
    padding-top: 5px;
    display: block;
}
.option input {
    width: 100%;
}

.option select {
    width: 100%;
}

.loading-bar {
    margin: auto;
    margin-bottom: -150px;
}

.page-input {
    width: 4em;
}
.gotopage {
    display: inline-block;
}

.footer {
    text-align: center;
    color: slategrey;
    width: 100%;
    margin: auto;
    padding: 5px;
}

.footer .text {
    display: block;
}
.footer .download img {
    display: inline;
    margin: 0;
}