<td colspan="6" class="container">
  <div class="athleteid col-xs-6 col-sm-4">
    Athlete Id: {{athlete.userid}}
  </div>
  <div class="affiliateid col-xs-6 col-sm-4">
    Affiliate: {{athlete.affiliateid}}
  </div>
  <div class="age col-xs-6 col-sm-4">
    Age: {{athlete.age}}
  </div>
  <div class="height col-xs-6 col-sm-4">
    Height: {{athlete.height}}
  </div>
  <div class="weight col-xs-6 col-sm-4">
    Weight: {{athlete.weight}}
  </div>
  <div class="region-rank col-xs-6 col-sm-4">
    Region Rank: {{athlete.regionalrank}}
  </div>  
  <div class="region-rank col-xs-6 col-sm-4">
    Worldwide Rank: {{athlete.overallrank}}
  </div>
</td>